.result{
	border: 1px solid silver;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	display: none;
	background: #FFC0CB;
	margin-bottom: 10px;
}

#function {
 background: green;
 border-radius: 10px;
 padding: 10px;
 color: white;
 font-size: 16px;
 transition-duration: .5s;
 margin-top: 15px;
}
#button:hover {
 background: white;
 border: ipx solid green;
 color: black;
 cursor: pointer;
}

.well{
background-color: #C0C0C0 !important;
}
body {
	background-color: #FAF0E6 !important;
}

.jumbotron {
	background-color: #FFDEAD !important;
}
